@mixin events {
  .v-textarea {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 13px;
    overflow-y: scroll !important;
    white-space: nowrap;
  }
}