<vaadin-vertical-layout size-full style-name="configuration">
    <vaadin-grid size-full header-visible="false">
        <table>
            <colgroup>
                <col column-id="config"/>
            </colgroup>
            <tbody>
            <tr>
                <th>Customers</th>
            </tr>
            <tr>
                <th>Users</th>
            </tr>
            <tr>
                <th>System configuration</th>
            </tr>
            </tbody>
        </table>
    </vaadin-grid>
</vaadin-vertical-layout>